* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
.inputContainer {
  padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid #ccc;
    max-width: 100%;
    margin: 0 auto 30px;
    border-radius: 5px;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.inputGroup input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputGroup button {
    border: none;
    color: white;
    background-color: #0096B2;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    width: 100%;
}

.inputGroup button:hover {
  background-color: #04505e;
}
